.Profilecont {
    display: flex;
    width: 100%;
    box-shadow: 0 0 10px rgb(158, 150, 150);
    padding: 3rem 5rem;
    justify-content: center;
    align-items: center;
}

.userdetail {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-transform: uppercase;
    color: white;
    display: block;
    font-size: 20px;
    margin-bottom: 1px;
}

.userdetail :last-child {
    margin-bottom: 5px;
    color: yellow;
}

.userdetail :nth-child(3) {
    color: white;
}

i {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.userdetail :nth-child(1) {
    font-size: 40px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}