.atmcontainer {
    width: 350px;
    margin-left: 20px;
    margin-top: 1%;
}

.atmcontainercol1 {
    width: 400px;
    /* display: flex; */
    align-items: center;
    flex-direction: row;
    /* background-color: red; */
    text-align: center;
    justify-content: space-between;
    color: white;
    font-size: 30px;
}

.atmcontainercol1 i {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 30px;
}

.userdetail {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userdetail p {
    text-transform: uppercase;
    color: white;
    display: block;
    font-size: 30px;
    margin-bottom: 1px;
}

.userdetail :last-child {
    margin-bottom: 5px;
    color: yellow;
}

.userdetail :nth-child(3) {
    color: red;
}

.userdetail :nth-child(1) {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.carddetail {
    width: 400px;
    display: flex;
    margin-top: -80px;
    text-shadow: 0 0 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    min-width: 400px;
}

.carddetail img {
    width: 380px;
    height: 235px;
    margin-bottom: 2px;
}





.balance {
    font-size: 30px;
    font-weight: 900;
    color: white;
    display: none;
}

.top {
    position: relative;
    left: 80px;
    text-transform: uppercase;
    top: 120px;
    font-size: xx-large;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}

.middle {
    position: relative;
    top: 180px;
    left: 210px;
    color: red;
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.middlebottom {
    position: relative;
    top: 230px;
    left: -110px;
    font-size: xx-large;

    font-weight: 900;
    letter-spacing: 2px;

    /* text-shadow: 5px gray; */
}

.bottomcont {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 230px;
    letter-spacing: 2px;
    gap: 10px;
    left: 70px;
    font-weight: 700;
    font-size: x-large;
}

.bottomcont div span {
    display: block;
}

.bottomcont:first-child {
    display: flex;
    flex-direction: column;
    display: block;
}


.updatecont {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0 auto;
}

.img {
    .updatecont {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 0px;
    }
}


/*
@media screen and (max-width:480px) {
    .atmcontainer {
        font-size: medium;
    }

    .updatecont {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    } */

/* img {
        min-width: 350px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    } */



/* .middlebottom {
        left: -30px;
    }

    .middle {
        left: 230px;
        font-weight: 900;
        font-size: x-large;
    }

    .top {
        text-transform: uppercase;
        left: 80px;
    } */
/* } */

/* @media screen and (max-width:480px) {
    .userdetail {
        text-align: center;
        margin-bottom: 10px;
        font-size: small;
    }
} */

/* @media screen and (max-width:480px) {
    .atmcontainercol1 {
        flex-direction: column;
    }
} */