.atmcontainer {
    width: 100%;

}

.carddetail {
    width: 320px;
    height: 220px;
    background-image: url('../../assets/card.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    letter-spacing: .5px;
    color: white;
    text-shadow: 0 0 5px;
    font-size: 30px;
    border-radius: 0 1rem 1rem 0;
    text-align: center;
}

.bankname {
    width: 300px;
    text-transform: uppercase;
    display: block;
    display: flex;
    justify-content: start;
    height: 60px;
    margin: 10px;
}

.cardtype {
    width: 250px;
    display: flex;
    color: red;
    text-transform: uppercase;
    justify-content: end;
    height: 50px;
}

.cardno {
    width: 300px;
    display: flex;
    height: 30px;
    width: 300px;
    justify-content: center;
    margin-right: 20px;
}

.expiry {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    font-size: x-large;
}

body {
    min-width: 400px;
}