.atmcontainer {
    width: 60%;
    margin: 0 auto;
    margin-top: 3%;
}


.atmcontainercol1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 30px;
}



.atmcontainercol1 i {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
}

.btn {
    height: 40px;
    font-size: 12px;
    height: 70px;
    width: 100px;

}

.userdetail {
    width: 80%;
}

.userdetail p {
    text-transform: uppercase;
    color: white;
    display: block;
    font-size: 30px;
    margin: 5px;
}

.userdetail :last-child {
    color: yellow;
}

.userdetail :nth-child(3) {
    color: red;
}

.userdetail :nth-child(1) {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.carddetail {
    width: 80%;
    display: flex;
    margin: 0 auto;
    text-shadow: 0 0 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carddetail img {
    width: 382px;
    height: 235px;
    margin-bottom: 20px;
}

.balance {
    font-size: 30px;
    font-weight: 900;
    color: white;
    display: none;
}


.top {
    position: relative;
    left: 80px;
    text-transform: uppercase;
    top: 90px;
    font-size: xx-large;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}

.middle {
    position: relative;
    top: 180px;
    left: 230px;
    color: red;

    font-size: xx-large;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.middlebottom {
    position: relative;
    top: 230px;
    left: -110px;
    font-size: xx-large;

    font-weight: 900;
    letter-spacing: 2px;

    /* text-shadow: 5px gray; */
}

.bottomcont {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 230px;
    letter-spacing: 2px;
    gap: 10px;
    left: 70px;
    font-weight: 700;
    font-size: x-large;
}

.bottomcont div span {
    display: block;
}

.bottomcont:first-child {
    display: flex;
    flex-direction: column;
    display: block;
}


.btn2 {

    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.btn3 {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.updatecont {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0 auto;
}



@media screen and (max-width:480px) {
    .atmcontainer {
        font-size: medium;
    }

    .updatecont {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    img {
        min-width: 350px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;


        margin-bottom: 20px;
    }

    .carddetail {
        margin-top: 20px;
    }

    .middlebottom {
        left: -30px;
    }

    .middle {
        left: 230px;
        font-weight: 900;
        font-size: x-large;
    }

    .top {
        text-transform: uppercase;
        left: 80px;
    }
}

@media screen and (max-width:480px) {
    .userdetail {
        text-align: center;
        margin: 30px;
        font-size: large;
    }
}

@media screen and (max-width:480px) {
    .atmcontainercol1 {

        flex-direction: column;
    }
}

@media screen and (max-width:480px) and (min-width:340px) {
    .btn {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}