.containerchangepin {
    /* width: 100%; */
    height: 100vh;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerchangepin .heading {
    color: white;
    margin-bottom: 30px;
    text-decoration: underline;
    font-weight: 900;
    font-size: xx-large;
}

.buttonscont {
    display: flex;
    margin-top: 20px;
}

.form-group2 {
    display: flex;
    flex-direction: column;

}

.form-group2 label {
    color: gold;
    font-size: xx-large;
    margin-bottom: 10px;

}

.form-group2 input {
    width: 300px;
    padding: 20px;
    outline: none;
}