.container {
  /* margin: 60px 100px; */
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  color: white;
}

.error {
  width: 100%;
  color: #e21e1e;
  display: flex;
  display: inline;
  position: absolute;
  align-items: center;
  margin-bottom: 2rem;
  margin-bottom: 10px;
  justify-content: end;
  font-size: x-large;
  margin-top: 10px;
}

:focus {
  outline-color: blueviolet;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inputContainer .input {
  width: 100%;
  padding: 30px;
  justify-content: center;
  font-size: x-large;
  text-align: center;
  box-shadow: 0 0 7px white;
  border: none;
  font-size: larger;
}

.buttons {
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}

@media screen and (max-width:1000px) {
  .buttons {
    display: flex;
    flex-direction: column;

  }

  .inputContainer {
    width: 100%;

  }

  .inputContainer .input {
    width: 100%;
    padding: 20px;
    border: none;
    font-size: larger;
  }

}

/* @media screen and (max-width:400px) {
  .buttons {
    display: flex;
    flex-direction: column;
    padding-right: 100px;

  }

  .inputContainer {
    width: 400px;
    padding-right: 100px;


  }

  .inputContainer .input {
    width: 400px;
    padding: 20px;
    padding-right: 100px;
    border: none;
    font-size: small;
  }

} */