 .container1 {
     margin: 0 auto;
     margin-top: 2%;
     width: 40%;

     box-shadow: 0 0 10px white;
     text-align: center;
     background: hwb(51 8% 1%);
     border-radius: 1rem;
     padding: 30px 10px;
 }

 .container1 input {
     font-size: large;
 }

 .container2 input {
     font-size: large;
 }

 .container2 {
     box-shadow: 0 0 10px white;

     margin: 0 auto;
     margin-top: 2%;
     width: 40%;
     text-align: center;
     border-radius: 1rem;
     padding: 30px 10px;
     background: #9c0c0c;
 }

 .container2 .form-lable {
     color: hwb(51 8% 1%);

 }

 @media screen and (max-width:480px) and (min-width:200px) {
     .container1 {
         width: 95%;
     }

     .container2 {
         width: 95%;
     }
 }

 @media screen and (min-width:480px) and (max-width:800px) {
     .container1 {
         width: 80%;
     }

     .container2 {
         width: 80%;
     }
 }

 .btn1 {
     width: 120px;
     height: 48px;
     border-radius: 2rem;
     margin-left: 10px;
     background: #145226;
     box-shadow: 0 0 10px snow;
     border: 1px #145226;
     color: white;
     text-transform: uppercase;
 }

 .btn5 {
     width: 120px;
     height: 48px;
     border-radius: 2rem;
     margin-left: 10px;
     background: #d70026;
     border: 1px #d70026;
     box-shadow: 0 0 10px snow;
     text-transform: uppercase;
     color: white;
 }


 .btncard1 {
     width: 100%;
     margin-top: 10px;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .nnnn {
     background-color: black;
     color: black;
     padding: 20px;
 }

 .form-lable {
     text-align: start;
     color: #ce0909;
     font-size: 20px;
     margin: 10px;
     display: block;
     width: 200px;
 }

 .form-control {
     width: 50%;
     margin: 5px;
     /* border-radius: 1rem; */
     display: flex;
     flex-direction: column;
 }

 .form-lable span {

     color: red;

 }

 .cardcontainer {
     margin: 10px;
 }

 .form-group {
     display: flex;
     margin: 5px
 }

 .form-group input {
     background-color: white;
     width: 100%;
     padding: 10px;

     outline: none;

 }